.app{
    display: flex;
}

.header{
    padding: 10px;
    background-color: lightseagreen;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.sidebar{
    height: calc(100vh - 60px);
    color: whitesmoke;
    background-color: gray;
    width: 10%;
    bottom: 0;
    position: sticky;
    left: 0;
    top:60px;
    display: block;

}
.main{
    width: 90%;
    background-color: red;
    height: 100vh;
}