.app{
    display: flex;
}

.header{
    padding: 10px;
    background-color: lightseagreen;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    height: 60px;
}
.sidebar{
    height: 100vh;
    background-color: gray;
    width: 10%;
    bottom: 0;
    position: sticky;
    z-index: 999;
    left: 0;
    top:60px;
}
.main{
    width: 90%;
  
}

@media (max-width:640px){
    .app{
        width: 100%;
        display: block;
        position: relative;
    } 
    .header{
        z-index: 999;
    }
    .sidebar{
        width: 100%;
        position: fixed;
        top: 60px !important;
        height: calc(120px - 60px);
        z-index: 99;
        display: block;
    }
    .main{
        width: 100%;
        position: relative;
        display: block;
        margin-top: 70px;
    }
}
